@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-size: cover;
    background-color:#E4EEF1;
}

header{
    /* border: solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    background-color: #4B93BF;
    color: #fff;
    height: 12vh;
}

.section-header{
    /* border: solid red; */
    display: flex;
    align-items: center;
    width: 38vw;
}

.ul-header{
    display: flex;
    list-style: none;
    width: 40vw;
    justify-content: space-evenly;
    font-size: 25px;
}

.ul-header li:hover{
    cursor: pointer;
    transform: scale(115%);
}

.h2-header{
    font-weight: 300;
    font-size: 30px;
}

main{
    font-family: 'Inter', sans-serif;
}

.section-main1{
    /* border: solid red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 38vh;
    color:#0F468C;
    font-size: 20px;
}

.section-main2{
    /* border: solid red; */
    height: 26vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #4B93BF;
    color: #fff;
    font-size: 30px;
}

.section-main3{
    /* border: solid red; */
    height: 38vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-main3 figure {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
}

.section-main3 img {
    width: 18vw;
    height: auto;
}

footer{
    /* border: solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Inter', sans-serif;
    background-color: #4B93BF;
    color: #fff;
    height: 12vh;
}

footer p{
    text-align: center;
    font-size: 20px;
    /* border: solid red; */
}

footer figure{
    /* border: solid red; */
    display: flex;
   align-items: center;
   justify-content: space-evenly;
}

footer img:hover {
    cursor: pointer;
    transform: scale(115%);
}